@import '../../variables.scss';
.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $mainBackgroundColor;
    height: 60px;
    padding:5%;
}

.logo-container h1{
    color: $whiteColor;
    font-size: 15pt;
    padding-top:10px;
}