@import "../variables.scss";
body {
  background-color: #e5e5e5;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.all-product-list {
  padding: 5% 0;
  margin-left: 290px;
}
