@import '../../variables.scss';


.btn-icon {
  position:relative;
  width: 100%;
  background:$mainGreenColor;
  border:none;
  outline:none;
  border-radius: 10px;
  color:#fff;
  font-size:18pt;
  font-weight: 400;
  padding:0 30px;
  transition:800ms ease all;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.685);
  cursor:pointer;
}

.btn-icon:hover{
  background:#fff;
  color: $mainGreenColor;
  border:1px solid $mainGreenColor;
}

.btn-icon:active{background-color:rgb(122, 122, 122);}

