@import '../_variables.scss';

.header-container { 
    width: 100%;
    height: 50px;
    background: $mainBackgroundColor; 
}

.login-container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 900px;
    padding: 10px;
}

.log-btn {
    color: $mainBackgroundColor;
    background-color: $whiteColor;
}