@import '../_variables.scss';

.header-container { 
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background: $mainGreenColor; 
    z-index: 100;
    padding: 12px;
}

.login-container { 
    display: flex;
    justify-content: space-between;

}

.login-container div:not(:last-child) {
    margin-right: 5px;
  }

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $mainGreenColor;
    
}

.logo-container h1{
    color: $whiteColor;
    font-size: 22px;
    padding-top:10px;
}