@import '../_variables.scss';

.header-container { 
    width: 100%;
    height: 20vh;
    background: $darkslategrayColor;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 100%, 0 50%);
}

.titles-container {
    display:flex;
    flex-direction: column;
    color: $whiteColor;
    padding-top: 5px;
}

.titles-container h1 {
    font-size: 18px; 
    font-style: italic; 
    line-height: 45px; 
    text-shadow: 0 2px 2px black;
}

.titles-container h2 {
    font-size: 15px;
    font-family: 'Merriweather', serif;
    font-weight: 400; 
    font-style: italic; 
}

@media screen and (min-width: 768px) {
    .titles-container h1 {
        font-size: 25px;  
    }

    .titles-container h2 {
        font-size: 15px;  
    }
}

@media screen and (min-width: 1200px) {
    .titles-container h1 {
        font-size: 28pt;
        margin-bottom: 5px;  
    }

    .titles-container h2 {
        font-size: 20px;  
    }
}