@import '../../variables.scss';

.icon { 
  position: absolute;
  padding: 14px;
  font-size: 15px;
  color: $grayColor; 
} 

.input-field { 
  width: 100%; 
  height: $heightElement;
  border-radius: 5px;
  padding: 10px 10px 10px 50px;
  border: none;
  outline: none;
  font-size: 13pt;
  color:$blackColor;
} 
