@import '../_variables.scss';


.steps-container { 
    visibility: visible;
    position: fixed;
    top: 60px;
    height: 100%;
    width: 100%;
    color:white !important;
    background: rgb(37, 37, 37); 
    z-index: 2;
    padding: 20px 50px;
}

.steps-cintainer-hide {
    visibility: hidden;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content h1 {
    color:white;
    font-size: 30px;
}

.titles-content {
    display: flex;
    justify-content: space-between;
    cursor: default;
}

.titles-content span:nth-child(1) {
    margin-left: -10px;
}

.titles-content span:nth-child(3) {
    margin-left: 25px;
}

.titles-content span:nth-child(4) {
    margin-right: -10px;
}

.steps-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    border-color: $stepsBorderColor;
    border-style: solid;
    border-width: 2px;
    margin-top: 20px;
    color: white !important;

}

.steps-btns {
    display: flex;
    justify-content: space-between;
    height: 20px;
    padding:20px;
    border-color: $stepsBorderColor;
    border-style: solid;
    border-top-style: none;
    border-width: 2px;
}

.steps-btns div {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-close {
    position: fixed;
    width:28px;
    top: 70px;
    right: 10px;
}

.btn-close:hover {
   cursor: pointer;

}

.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    font-size: 18px;
    color: $mainGreenColor;
}

.ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    color: $lightgrayColor;
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
    color: $mainGreenColor;
}
.ant-steps-item-custom.ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
    color: $mainGreenColor;
    font-size: 35px;
}

.ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
    background-color: $mainGreenColor;
    height: 3px;

}