.shopping-basket-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px; 
}

.shopping-basket-container button {
    height: 100px;
    width: 100px;
    background: lightgray;
    color: darkslategray;
    border:none;
}

.shopping-basket-container button:hover {
    border: 1px darkslategrey solid;
    background: darkslategray;
    color: lightgray;

}

