@import '../../variables.scss';

.chceckboxes-container >div{
  display: flex;
  align-items: center;
  padding: 6px 20px;
}

.chceckboxes-container .ant-checkbox + span {
  padding-right: 8px;
  padding-left: 8px;
  color: $whiteColor !important;
}

.chceckboxes-container .ant-checkbox-checked .ant-checkbox-inner {
  background-color: $mainGreenColor;
  border-color: $mainGreenColor;
}

.chceckboxes-container .ant-checkbox-checked .ant-checkbox-inner:hover {
  border-color: $mainGreenColor !important;
}
