@import '../variables.scss';

.shopping-basket-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px; 
}

.shopping-basket-container button {
    height: 50px;
    width: 50px;
    background: $lightgrayColor;
    color: $darkslategrayColor;
    border:none;

}

@media screen and (min-width: 768px){
    .shopping-basket-container button {
        height: 80px;
        width: 80px;
    }
}
  
@media screen and (min-width: 1200px){
    .shopping-basket-container button {
        height: 100px;
        width: 100px;
    }
    .shopping-basket-container button:hover {
        border: 1px $darkslategrayColor solid;
        background: $darkslategrayColor;
        color: $lightgrayColor;
    }
}
