@import '../variables.scss';

.shopping-basket-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px; 
}

.shopping-basket-container button {
    height: 50px;
    width: 50px;
    background: $lightgrayColor;
    color: $darkslategrayColor;
    border:none;
}

@media screen and (min-width: 768px) {
    .shopping-basket-container button {
        height: 80px;
        width: 80px;
    }
}
  
@media screen and (min-width: 1200px) {
    .shopping-basket-container button {
        height: 100px;
        width: 100px;
        text-transform: uppercase;
        animation: shadow-pulse 1s infinite;
    }
    
    .shopping-basket-container button:hover {
        border: 1px $darkslategrayColor solid;
        background: $darkslategrayColor;
        color: $lightgrayColor;
    }

    @keyframes shadow-pulse {
        0% {
            box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
        }
        100% {
            box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
        }
    }

        
}
