@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

$whiteColor: rgb(255, 255, 255);
$grayColor: gray;
$darkslategrayColor: #3e7598;
$lightgrayColor: rgb(228, 226, 226);
$menuColor: #3a3a3a;
$menuDarkColor: #222222;
$roboto: "Roboto", sans-serif;
$blackColor: rgb(0, 0, 0);
$mainGreenColor: #67B42C;
$heightElement: 40px;