@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

$whiteColor: rgb(255, 255, 255);
$grayColor: gray;
$darkslategrayColor: #3e7598;
$lightgrayColor: rgb(228, 226, 226);
$mainBackgroundColor: #67b42c;
$menuColor: #3a3a3a;
$menuDarkColor: #222222;
$roboto: "Roboto", sans-serif;

$blackColor: rgb(0, 0, 0);
$darkslategrayColor: #3E7598;
$lightgrayColor:rgb(228, 226, 226);
$mainBackgroundColor: #67B42C;
$menuColor: #3A3A3A;
$menuDarkColor:#222222;
$heightElement: 45px;