* {
  margin: 0 auto;
}

body{
  // background: $mainBackgroundColor background-image: url("https://cdn.pixabay.com/photo/2018/03/21/10/01/desktop-3246124_960_720.jpg");;
  background-image: url("https://cdn.pixabay.com/photo/2015/05/15/14/52/water-768745_960_720.jpg");
  background-size: cover;
  background-position: center; 
}
