@import "../_variables.scss";

.grid-container--item {
  width: 242px;
  height: 325px;
  background: white;
  padding: 5%;
  color: black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 800px;
  font-family: $roboto;
  flex-shrink: 3;
}

.grid-container--item--elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.product-img {
  height: 147px;
  width: 170px;
  background-size: cover;
  background-position: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-bottom: 10px;
}

.btn-green {
  width: 173px;
  height: 47px;
  color: white;
  background: #67b42c;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-weight: 800;
}

.btn-green:hover {
  background: darken($color: #67b42c, $amount: 10);
  color: white;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
}
.discount_label {
  position: absolute;
  width: 53px;
  height: 53px;
  background-color: #67b42c;
  color: white;
  border-radius: 50%;
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -110px;
  margin-top: -145px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  opacity: 0.9;
}
.price {
  font-display: $roboto;
  font-weight: 900;
  font-size: 25px;
}
.title {
  height: 50px;
}
