@import '../variables.scss';
.grid-container--item {
    content: '';
    position: relative;
    width: 150px;
    height: 170px;
    background: rgba(255, 255, 255, 0.5);
    padding:5%;
    box-shadow: 0 6px 6px  $darkslategrayColor;
    color: black;
}

.grid-container--item--elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.product-img {
    height: 40px;
    width: 40px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20%; 
}


