@import '../variables.scss';

.grid-container--item {
    content: '';
    position: relative;
    width: 150px;
    height: 170px;
    background: rgba(255, 255, 255, 0.5);
    padding:5%;
    box-shadow: 0 6px 6px  $darkslategrayColor;
    color: black;
}

.grid-container--item--elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.product-img {
    height: 40px;
    width: 40px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20%; 
}

.btn-add-product {
    width: 30px;
    height: 30px;
    color: $darkslategrayColor;
    background: white;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn-add-product:hover {
    color: white;
    background: $darkslategrayColor;
    transform: translateY(-3px);
    transform: scale(1.2);
  }

